<h1><%= @participation.promotion.title %></h1>
<p><%= @participation.promotion.participations.count %> people joined the game</p>

<% if @participation.response.present? %>
  <p>You have already responded to this promotion.</p>
  <p>Your answer: <%= @participation.response %></p>
<% else %>
  <p>You have not responded to this promotion yet.</p>
    <%= form_with(model: @participation, local: true) do |form| %>
        <div class="field">
        <%= form.label :response, "Your Response" %><br>
        <%= form.number_field :response, in: 1..1000, step: 1 %>
        </div>
        <div class="actions">
        <%= form.submit "Submit Response" %>
        </div>

    <% end %>
<% end %>
