<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <label>Images (drag and drop or select at least 3):</label>
    <%= form.file_field :images, multiple: true, direct_upload: true, accept: 'image/*', id: 'product_images' %>
  </div>

  <% if product.images.attached? %>
    <div>
      <h4>Current Images (in order):</h4>
      <ol>
        <% product.images.each_with_index do |img, idx| %>
          <li>
            <%= image_tag img.variant(resize_to_limit: [100, 100]) if img.variable? %>
            (Image <%= idx + 1 %>)
          </li>
          <%= button_to "Delete image", purge_image_product_path(product, image_id: img.id), method: :delete, data: { confirm: "Are you sure?" } %>    
        <% end %>
      </ol>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, Product.categories.keys.map { |k| [k.humanize, k] } %>
  </div>

  <div>
    <%= form.label :store_id, "Store", style: "display: block" %>
    <%= form.collection_select :store_id, Store.all, :id, :name, prompt: "Select a store" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<% if product.images.attached? %>
  <div>
    <h4>Current Images (in order):</h4>
    <ol>
      <% product.images.each_with_index do |img, idx| %>
        <li>
          <%= image_tag img.variant(resize_to_limit: [100, 100]) if img.variable? %>
          (Image <%= idx + 1 %>)
          <%= button_to "Delete image", purge_image_product_path(product, image_id: img.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
